/* Resetear algunas reglas de estilo de Bootstrap */
body {
  padding: 0;
  margin: 0;
  font-family: inherit;
}

h1, h2, p {
  margin: 0;
}

/* Estilos específicos de la aplicación */
#speechText {
  font-size: 1.25rem;
  box-shadow: 2px 2px 5px lightgrey;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 576px) {
  #speechText {
    font-size: 1rem;
  }
}

html {
  height: 100%;
  width: 100%;
}

h1#voiceSearchTitle {
  text-align: center;
  font-size: 32px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

h2#resultado {
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





#activar:active {
  background-color: white;
  color: blue;
}

#ajustes {
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 25%;
    right: 60%;
    transform: translate(50%, -50%);
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 2px solid blue;
}

#ajustes:active {
  background-color: white;
  color: blue;
}